<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="/static/css/base.css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script>
      window.lib = new Base({})
    </script>

  </head>
  
  <body>
  
    <%- include('sidebar') %>

    <main>
    <div id="mainAdminPage">
    <% for (let i in clusters) { %> 
      <section class='cluster'>
        <h1>Cluster <%= i %></h1>
        <% for (let shard of clusters[i].shards) { %>
          <div class="shard" style="border-color: <%= (['red', 'yellow', 'green'])[shard.state] %>">
            <p>Shard <%= shard.id %></p>
            <label class="switch"><input type="checkbox" typed='boolean' setting='<%= shard.id %>'><span
              class="slider round"></span></label>
            </div>
        <% } %>
      </section>
    <% } %>
    <button class="save" onclick="lib.post()" class="saveButton" id="apply">Apply</button>

  </div>

</main>
  </body>
</html>