<!DOCTYPE html>
<html>

<head>
  <title><%= guild.n %> Settings</title>

  <%- include('googleanalytics') %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <!-- <script src="/static/js/builder.js"></script> -->
  <script src="/static/js/base.js"></script>

  <link rel="stylesheet" href="/static/css/base.css" />
  <script>
    window.tags = new Map();
    <% if (premium) { %>
      window.premium = true;
      <% } else { %>
      window.premium = false;
      <% } %>
    window.guild = <%- JSON.stringify(guild) %>
  </script>
</head>

<body>

  <%- include('sidebar') %>

  <main>
  <div id="mainGuildPage">
    <div id="general" data-open="false">
      <h1>General</h1>
      <section class="general">

        <div class="sectionParent">
          <div class="left">
            <div class="inputBox" id="prefix"><p>Prefix</p> <input maxlength="10" placeholder="None" typed="none" setting="prefix"></div>

            <div class="selectBox" id="logChannel" title="Channel to log infractions, as well as punishment outcomes."><p>Log Channel</p> <select typed="list" setting="log">
                                                                        <option value="null">None</option>
                                                                        <% guild.c.forEach(channel => { %>
                                                                        <option value="<%= channel.id %>">#<%= channel.name %></option>
                                                                        <% }) %>
            </select></div>

              <div class="selectBox" id="uncensorRole" title="Role to ignore completely with the filter."><p>Uncensor Role</p> <select typed="list" setting="role">
                                                                              <option value="null">None</option>
                                                                              <% guild.r.forEach(role => { %>
                                                                              <option value="<%= role.id %>">@<%= role.name %></option>
                                                                              <% }) %>
              </select></div>
          </div>

        <div class="right">
          <div class="inputBox" id="ignoreChannels" title="Ignore specific channels without having to make it NSFW."><p>Ignore Channels</p> <input class='tagifyInput' placeholder="Add Channels" typed="tagArray" setting="channels" premium></div>
        </div>

      </div>


      </section>
    </div>
    <div id="filter" data-open="false">
      <h1>Filter</h1>
      <section class="filter">

        <div class="sectionParent">
          <div class="left">
            <h3 title="Whether to use the bot's premade filter that is managed by staff.">Base Filter</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='base'><span
              class="slider round"></span></label>
              <hr class="hrGrey"/>

              <div class="inputBox" id="Filters" title="Sets what languages the base filter uses"><p>Filters</p> <input placeholder="Add Filters" typed="tagArray" setting="languages"></div>

              <div class="inputBox hasButton" id="serverFilter" title="Custom filter that are bound to this server."><p>Server Filter</p> <input class='tagifyInput' placeholder='Add Words' typed='tagArray' value="<%= db.filter.join(', ') %>" setting="filter"><button onclick="window.lib.clearTags('filter')">Clear</button></div>

              <div class="inputBox hasButton" id="uncensorWords" title="Words to ignore from the base filter in this server."><p>Uncensor Words</p> <input class='tagifyInput' placeholder='Add Words' typed='tagArray' value="<%= db.uncensor.join(', ') %>" setting="uncensor"><button onclick="window.lib.clearTags('uncensor')">Clear</button></div>

              <h3 title="Whether to censor multiple messages combined together to scan.">Multi-Line</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='multi' premium><span
                class="slider round"></span></label>
                <hr class="hrGrey"/>
          </div>
          <div class="right" title="Methods in which to scan with and take action on by censor bot.">
            <p class="rightTitle">Censor Methods</p>
            <h3>Messages</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='censor.msg'><span
              class="slider round"></span></label><br/>
            <h3>Edited Message</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='censor.emsg'><span
              class="slider round"></span></label><br/>
            <h3>Nicknames</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='censor.nick'><span
              class="slider round"></span></label><br/>
            <h3>Reactions</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='censor.react'><span
              class="slider round"></span></label><br/>
          </div>
        </div>

        
      </section>
    </div>
    <div id="punishments" data-open="false">
      <h1>Punishments</h1>
      <section class="punishments">

        <div class="sectionParent">
          <div class="left">
            <div class="selectBox" id="punishmentSelect" title="Type of punishment to perform once amount has been reached."><p>Punishment</p> <select typed="typeNum" setting="punishment.type">
              <option value="0">Off</option>
              <option value="1">Mute</option>
              <option value="2">Kick</option>
              <option value="3">Ban</option>
            </select></div>

            <div class="inputBox" id="amount" title="Amount of infractions that when met will perform the action on that user."><p>Amount</p> <input type="number" inputmode="numeric" typed="typeNum" min="1" max="50" setting="punishment.amount"></div> <small>Amount of infactions before punishment</small>
          </div>

          <div class="right">
            <div class="selectBox" id="muteSelect" title="Role to give once amount reached, (Suggested: a muted role)"><i>Mute Role</i><select typed="list" disabled setting="punishment.role">
              <option value="null">None</option>
              <% guild.r.forEach(role => { %>
              <option value="<%= role.id %>">@<%= role.name %></option>
              <% }) %>
            </select></div>
          </div>
        </div>
      </section>
    </div>
    <div id="other" data-open="false">
      <h1>Other</h1>
      <section class="other">

        <div class="sectionParent">
          <div class="left">
            <div class="inputBox" id="PopDeleteTime" title="Settings for the message that comes up when someones message is deleted."><p>Pop Delete Time</p> <input type="number" inputmode="numeric" placeholder="Never" min="0" max="600" typed="time" setting="msg.deleteAfter"></div>

            <div class="inputBox has2Buttons" id="popMessage" title="Settings for the message that comes up when someones message is deleted."><p>Pop Message</p><input typed="message" maxlength="100" setting="msg.content" id="popMessageInput"><button
              onclick="document.getElementById('popMessageInput').value='Default'">Default</button><button
              onclick="document.getElementById('popMessageInput').value='Off'">Off</button></div>
          </div>

          <div class="right">
            <p class="rightTitle">Resend</p>
            
            <h3 title="Resend someone censored message with the message censored in a spoiler.">Toggle</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='webhook.enabled'
              premium><span class="slider round"></span></label>
              <br/>

              <h3>Seperate</h3> <label class="switch"><input type="checkbox" typed='boolean' setting='webhook.separate'
                premium><span class="slider round"></span></label>

              <div class="selectBox" id="seperateMethod"><p>Seperate Method</p> <select typed="typeNum" setting="webhook.replace" premium>
                <option value="0">Spoilers</option>
                <option value="1">Hashtags</option>
              </select></div>
          </div>
        </div>

        
      </section>
    </div>
  </div>

    <changes class="hidden">
      <span class="changes">
        <p>You have unsaved changes</p>

        <button class="reset" onclick="lib.reset()">Reset</button>

        <button class="save saveButton" onclick="lib.post()">Save Changes</button>

      </span>
    </changes>
  
  </main>

    
    
  <script src="/static/js/guild.js"></script>
  <script>
     window.lib = new Base(<%- JSON.stringify(db) %>, true)
  </script>
    <script src="/static/js/guildSetup.js"></script>
    <script>
    </script>

 