<!DOCTYPE html>
<html>

<head>
  <title>Censor Bot Premium</title>

  <%- include('googleanalytics') %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="/static/js/base.js"></script>
  <script>
    window.lib = new Base({ guilds: <%- JSON.stringify(premium.guilds) %> }, false, true)
    function hideChangeBar() {}
  </script>
  <link rel="stylesheet" href="/static/css/base.css" />
</head>

<body>

  
  <%- include('sidebar') %>

  
<main>
  <div id="mainPremPage">
    <div id="title">
  <h1>Manage your <a href="https://censor.bot/premium">premium</a> servers</h1>
  <h3>Learn more about premium <a href="https://censor.bot/premium">here</a></h3>
</div>

<div class="center">
  <h2><b id="count">0</b> / <%= premium.count %> servers used</h2>

  <div class="inputBox"><p>Premium Servers</p> <input id="guilds" typed="tagArray" setting="guilds" placeholder="add servers"></div>
  
  <script>
    function showChangeBar (params) {
  $('changes').removeClass('hidden')
}

function hideChangeBar () {
  $('changes').addClass('hidden')
}

    var elm = document.getElementById("guilds")
    var orignalCount = <%= premium.guilds.length %>;

    function premPost() {
  lib.post()
  orignalCount = 0
      try {
        orignalCount = JSON.parse(elm.value).length
      } catch (e) {}
      hideChangeBar()
}

    function changeCount () {
      let currentCount = 0;

      try {
        currentCount = JSON.parse(elm.value).length
      } catch (e) {}
      if(window.lib.ready) {
      if(orignalCount != currentCount) {
        showChangeBar()
      } else {
        hideChangeBar()
      }
    }
      document.getElementById("count").innerText = currentCount
    }
  console.log(<%- JSON.stringify(guilds.map(g => ({ value: g.n, id: g.i }))) %>)
    window.lib.addTag('guilds', {
      whitelist: <%- JSON.stringify(guilds.map(g => ({ value: g.n, id: g.i }))) %>,
      maxTags: <%= premium.count %>,
      dropdown: {
        enabled: 0,
        maxItems: <%= guilds.length %>
      },
      callbacks: {
        add: changeCount,
        remove: changeCount,
        invalid: (e) => {
          if (e.detail.message === 'number of tags exceeded') return window.lib.tell('Not enough premium servers.') // TODO
        }
      }
    })

    changeCount()
  </script>
  </div>
</div>
<changes class="hidden">
  <span class="changes">
    <p>You have unsaved changes</p>

    <button class="reset" onclick="lib.reset()">Reset</button>

    <button class="save saveButton" onclick="premPost()">Save Changes</button>

  </span>
</changes>
</main>
</body>

</html>