<!DOCTYPE html>
<html>

<head>
    
    <style>
        .guild {
            float: left;
        }
    </style>
    
</head>

<body>
    <h1>
        <div>
                <% guilds.forEach(x=> {%>
                    <div class="guild" value="<%=x.i%>">
                        <a href="<%=base%>/<%=x.i%>">
                            <img src="https://cdn.discordapp.com/icons/<%= x.i%>/<%= x.a %>" alt="<%=x.n%>">
                        </a>
                    </div>
                <% }) %>
        </div>
    </h1>
    <script>
        var token = "<%= token %>"
        document.querySelectorAll(".guild").forEach(function(guild) {
            guild.setAttribute("href", `./${guild.getAttribute("value")}`)
        })
    </script>
</body>

</html>
