<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #2C2F33;
                text-align: center;
            }
            .cluster {
                width: 100%;
                border: 5px black solid;
                float: left;
                margin: 3px;
            }
            .shard {
                width: 18%;
                height: 50%;
                border: 5px black solid;
                float: left;
                margin: 3px;
            }
        </style>
        <title>Admin page</title>
        <%- include('partials/googleanalytics') %>
    </head>
    <body>
        <h1>Admin</h1>
        <div>
            <h3>Shards</h3>
            <% let id = 0 %>
            <% shards.forEach(cluster => { %>
                <div class="cluster">
                    <h3>Cluster <%= id %><button onclick="req('/clusters/<%= id %>', 'POST', {}, () => {})">Kill</button></h3>
                    <% id++ %>
                    <% cluster.forEach(shard => { %>
                        <div class="shard">
                            <h3>Shard <%= shard.id %></h3>
                            <b><%= shard.connected ? 'Connected' : 'Disconnected' %></b> <br />
                            <button onclick="req('/shards/<%= shard.id %>', 'POST', {}, () => {})">Restart</button>
                            <button onclick="req('/shards/<%= shard.id %>', 'POST', { destroy: true }, () => {})">Destroy</button>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
        </div>
        <div>
            <h3>Guild Control</h3>
            <input id='guild' placeholder="Server ID">
            <button onclick="guild('DELETE')">Leave</button>
            <button onclick="guild('GET')">Get Config</button>
            <button onclick="guild('PUT')">Reset Config</button>
        </div>
        <div>
            <h3>Response</h3>
            <textarea id="res" style="width:1000px;height:1000px"></textarea>
        </div>
        <script>
            function req(url, method, body, cb) {
                var xhr = new XMLHttpRequest();
                xhr.open(method, "https://api.censor.bot/admin" + url);
                xhr.onload = function() {
                    const response = JSON.parse(xhr.response)
                    document.getElementById('res').innerText = JSON.stringify(response, null, 4)
                    cb(response)
                }
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader("Authorization", "<%=token%>");
                xhr.send(body ? JSON.stringify(body) : null);
            }

            function guild(method) {
                req('/guilds/' + document.getElementById('guild').value, method, null, console.log)
            }
        </script>
    </body>
</html>