<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #2C2F33;
                text-align: center;
            }
        </style>
        <title>Admin page</title>
    </head>
    <body>
        <h1>Admin</h1>
        <div>
            <h3>Get user guilds</h3>
            <input id="getguild" placeholder="User ID"><button onclick="getUserGuilds()">Get</button>
            <div>
                <ul id="response">
                </ul>
            </div>
        </div>
        <div>
            <h3>Restart Shards</h3>
            <% client.shards.forEach(shard => { %>
                <button onclick="req('/shards/<%=shard.id%>', 'POST', null, console.log)"> <%= shard.id %> <%= shard.connected ? "Connected" : "Disconnected" %> </button>
            <% }) %>
        </div>
        <div>
            <h3>Guild Control</h3>
            <input placeholder="Server ID">
            <button onclick="req('')">Leave</button>
            <button>Get Config</button>
            <button>Reset Config</button>
        </div>
        <div>
            <h3>Response</h3>
            <textarea id="res" style="width:1000px;height:1000px"></textarea>
        </div>
        <script>
            function getUserGuilds() {
                var userID = document.getElementById("getguild").value;
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://censorbot.jt3ch.net/api/users/"+userID+"/guilds");
                xhr.onload = function() {
                    var guilds = JSON.parse(xhr.response);
                    document.getElementById("response").innerHTML = "";
                    guilds.forEach(function(guild) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        a.href = "https://censorbot.jt3ch.net/dash/"+guild.id;
                        a.innerText = guild.name;
                        
                        li.appendChild(a);
                        
                        document.getElementById("response").appendChild(li);
                    })
                }
                xhr.setRequestHeader("Authorization", "<%=token%>");
                xhr.send();
            }

            function req(url, method, body, cb) {
                var xhr = new XMLHttpRequest();
                xhr.open(method, "https://censorbot.jt3ch.net/api/admin" + url);
                xhr.onload = function() {
                    const response = JSON.parse(xhr.response)
                    document.getElementById('res').innerText = JSON.stringify(response, null, 4)
                    cb(response)
                }
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader("Authorization", "<%=token%>");
                xhr.send(body ? JSON.stringify(body) : null);
            }
        </script>
    </body>
</html>